header {
    background-color: black;
    color: rgb(45, 216, 216);
    padding: 30px;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
}

body {
    background-color: rgb(45, 216, 216);
}

.timeRow:hover {
    background-color: #ffa;
  }

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: black;
  }
  
.flex-container>div {
    background-color: #32e41a6b;
    width: 30%;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }

